In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('D:\\Study\\Project\\National-Rural-Health-Mission-NRHM-EDA\\Datasets\\NRHM_dataset_merged.csv')
df.head()

,States/UT,Required - [R],Sanctioned - [S],In Position - [P],Vacant - [S-P],Shortfall - [R-P],Note of State/ UT,Note of Vacant - [S-P],Note of Shortfall - [R-P],"Total Number of SNCU (up to January, 2020)",...,Total_Population,Total_Population_Density,Rural_Population_%,Tribal_Area,Rural_Area,Urban_Area,Total_Area,Rural_%,Number_of_Districts,Number_of_Villages
0,Andaman & Nicobar Islands,22,42.0,34,8.0,NaN,NaN,NaN,*,1,...,399000,48,57.4,1841.00,8211.08,37.92,8249,99.54,3,560
1,Andhra Pradesh,1147,1952.0,1644,308.0,NaN,NaN,NaN,*,47,...,52599000,323,65.1,14132.00,158856.00,4119.00,162975,97.47,13,17950
2,Arunachal Pradesh,143,NaN,122,NaN,21.0,NaN,NaN,NaN,5,...,1522000,18,75.0,NaN,NaN,NaN,83743,NaN,20,5545
3,Assam,1014,NaN,1048,NaN,NaN,NaN,NaN,*,28,...,34793000,444,84.8,18549.42,77178.12,1259.88,78438,98.39,27,27927
4,Bihar,1899,2078.0,1786,292.0,113.0,#,NaN,NaN,43,...,121895000,1295,87.9,NaN,91838.28,2324.72,94163,97.53,38,45413

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 90 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   States/UT                                         35 non-null     object
 1   Required - [R]                                    35 non-null     int64
 2   Sanctioned - [S]                                  32 non-null     float64
 3   In Position - [P]                                 35 non-null     int64
 4   Vacant - [S-P]                                    26 non-null     float64
 5   Shortfall - [R-P]                                 14 non-null     float64
 6   Note of State/ UT                                 3 non-null      object
 7   Note of Vacant - [S-P]                            6 non-null      object
 8   Note of Shortfall - [R-P]                         21 non-null     object
 9   Total Number of SNCU (up to January, 2020)        35 non-null     int64
 10  2017-18 - Total Central Allocation                35 non-null     float64
 11  2017-18 - Central Release - NRLM                  35 non-null     float64
 12  2017-18 - Central Release - NRLP                  35 non-null     float64
 13  2017-18 - Expenditure*                            35 non-null     float64
 14  2018-19** - Total Central Allocation              35 non-null     float64
 15  2018-19** - Central Releases (NRLM)               35 non-null     float64
 16  2018-19** - Expenditure *                         35 non-null     float64
 17  2019-20 - Total Central Allocation                35 non-null     float64
 18  2019-20 - Central Releases (NRLM) Upto Oct. 2019  35 non-null     float64
 19  2019-20 - Expenditure * Upto Aug.2019             35 non-null     float64
 20  *Mobile Medical Units (MMUs) Operational          35 non-null     int64
 21  National Health Mission - 2015-16                 35 non-null     float64
 22  National Health Mission - 2016-17                 35 non-null     float64
 23  National AIDS Control Programme - 2015-16         35 non-null     float64
 24  National AIDS Control Programme - 2016-17         35 non-null     float64
 25  Dial 108                                          35 non-null     int64
 26  Dial 102/104                                      35 non-null     int64
 27  Other patients transport vehicle                  35 non-null     int64
 28  Total Ambulance under NHM                         35 non-null     int64
 29  State Ambulances                                  35 non-null     int64
 30  Amount Approved in 2014-15 ( Rs. in Lakhs)        35 non-null     float64
 31  Total ASHAs                                       35 non-null     int64
 32  SubCenters_x                                      35 non-null     int64
 33  PHCs_x                                            35 non-null     int64
 34  CHCs_x                                            35 non-null     int64
 35  ANM/Health_Worker_Female_x                        35 non-null     int64
 36  Doctors_x                                         35 non-null     int64
 37  Specialists_x                                     35 non-null     int64
 38  Radiographers_x                                   35 non-null     int64
 39  Pharmacists_x                                     35 non-null     int64
 40  LabTechinicians                                   35 non-null     int64
 41  NursingStaff_x                                    35 non-null     int64
 42  SubCenters_y                                      35 non-null     int64
 43  PHCs_y                                            35 non-null     int64
 44  CHCs_y                                            35 non-null     int64
 45  ANM/Health_Worker_Female_y                        35 non-null     int64
 46  Doctors_y                                         35 non-null     int64
 47  Specialists_y                                     35 non-null     int64
 48  Radiographers_y                                   35 non-null     int64
 49  Pharmacists_y                                     35 non-null     int64
 50  LabTechnicians_x                                  35 non-null     int64
 51  NursingStaff_y                                    35 non-null     int64
 52  ANM_Vacent                                        32 non-null     object
 53  ANM_Shortfall                                     34 non-null     object
 54  Doctors_Vacent                                    32 non-null     object
 55  Doctors_Shortfall                                 34 non-null     object
 56  Specialists_Vacent                                31 non-null     object
 57  Specialists_Shortfall                             34 non-null     float64
 58  Radiographers_Vacent                              32 non-null     object
 59  Radiographers_Shortfall                           34 non-null     object
 60  Pharmacists_Vacent                                32 non-null     object
 61  Pharmacists_Shortfall                             34 non-null     object
 62  LabTechnicians_Vacent                             32 non-null     object
 63  LabTechnicians_Shortfall                          34 non-null     object
 64  NursingStaff_Vacent                               32 non-null     object
 65  Nursing_Shortfall                                 34 non-null     object
 66  SubCenters                                        35 non-null     int64
 67  PHCs                                              35 non-null     int64
 68  CHCs                                              35 non-null     int64
 69  ANM/Health_Worker_Female                          35 non-null     int64
 70  Doctors                                           35 non-null     int64
 71  Specialists                                       35 non-null     int64
 72  Radiographers                                     35 non-null     int64
 73  Pharmacists                                       35 non-null     int64
 74  LabTechnicians_y                                  35 non-null     int64
 75  NursingStaff                                      35 non-null     int64
 76  Rural_Population                                  35 non-null     int64
 77  Rural_Population_Density                          34 non-null     float64
 78  Urban_Population                                  35 non-null     int64
 79  Urban_Population_Density                          34 non-null     object
 80  Total_Population                                  35 non-null     int64
 81  Total_Population_Density                          35 non-null     int64
 82  Rural_Population_%                                35 non-null     float64
 83  Tribal_Area                                       24 non-null     float64
 84  Rural_Area                                        34 non-null     float64
 85  Urban_Area                                        34 non-null     float64
 86  Total_Area                                        35 non-null     int64
 87  Rural_%                                           34 non-null     float64
 88  Number_of_Districts                               35 non-null     int64
 89  Number_of_Villages                                35 non-null     int64
dtypes: float64(25), int64(47), object(18)
memory usage: 24.7+ KB

In [5]:
df.describe()

,Required - [R],Sanctioned - [S],In Position - [P],Vacant - [S-P],Shortfall - [R-P],"Total Number of SNCU (up to January, 2020)",2017-18 - Total Central Allocation,2017-18 - Central Release - NRLM,2017-18 - Central Release - NRLP,2017-18 - Expenditure*,...,Total_Population,Total_Population_Density,Rural_Population_%,Tribal_Area,Rural_Area,Urban_Area,Total_Area,Rural_%,Number_of_Districts,Number_of_Villages
count,35.000000,32.000000,35.000000,26.000000,14.000000,35.000000,35.000000,35.000000,35.000000,35.000000,...,3.500000e+01,35.000000,35.000000,24.000000,3.400000e+01,34.000000,3.500000e+01,34.000000,35.000000,35.000000
mean,1465.257143,1389.906250,1548.571429,431.884615,432.428571,49.314286,11588.571429,12195.849143,2465.767429,21191.012000,...,7.672131e+07,550.714286,60.445714,45795.062917,1.816442e+05,5975.852941,1.870448e+05,90.199706,39.942857,37963.314286
std,4288.484933,2007.333625,4527.216398,683.463317,831.670304,143.509330,34157.196193,35725.300870,7358.928837,62458.313568,...,2.274616e+08,669.151199,19.282381,110313.212125,5.219322e+05,17337.846413,5.453362e+05,20.272613,116.776041,111413.656817
min,4.000000,0.000000,7.000000,0.000000,1.000000,1.000000,100.000000,0.000000,0.000000,0.000000,...,6.800000e+04,5.000000,4.400000,0.000000,8.050000e+00,0.000000,3.000000e+01,4.990000,1.000000,27.000000
25%,89.000000,123.000000,117.000000,84.000000,26.250000,5.000000,956.790000,791.855000,0.000000,587.730000,...,1.865000e+06,143.500000,53.500000,4024.500000,2.090703e+04,273.837500,2.170400e+04,94.622500,9.000000,1262.000000
50%,538.000000,742.500000,492.000000,248.000000,138.000000,23.000000,3105.000000,3677.150000,0.000000,4982.210000,...,2.923700e+07,352.000000,64.300000,19159.785000,6.816206e+04,2112.480000,7.843800e+04,97.200000,20.000000,12968.000000
75%,1225.500000,1816.250000,1199.000000,430.750000,310.750000,44.500000,9488.090000,9458.480000,2275.230000,19158.830000,...,6.783350e+07,592.500000,73.750000,36662.030000,1.572308e+05,5785.507500,1.593410e+05,98.370000,30.500000,33523.000000
max,25642.000000,10530.000000,27100.000000,2943.000000,3027.000000,863.000000,202800.000000,213427.360000,43150.930000,370842.710000,...,1.353378e+09,3161.000000,89.800000,549541.000000,3.088115e+06,102225.000000,3.274083e+06,100.000000,705.000000,664469.000000

In [6]:
nulls = df.isnull().sum()
print(nulls)

States/UT              0
Required - [R]         0
Sanctioned - [S]       3
In Position - [P]      0
Vacant - [S-P]         9
                      ..
Urban_Area             1
Total_Area             0
Rural_%                1
Number_of_Districts    0
Number_of_Villages     0
Length: 90, dtype: int64

In [7]:
nulls_percentage = nulls[nulls!=0]/df.shape[0]*100
print('The percentage of null values per feature:\n')
print(round(nulls_percentage))

The percentage of null values per feature:

Sanctioned - [S]              9.0
Vacant - [S-P]               26.0
Shortfall - [R-P]            60.0
Note of State/ UT            91.0
Note of Vacant - [S-P]       83.0
Note of Shortfall - [R-P]    40.0
ANM_Vacent                    9.0
ANM_Shortfall                 3.0
Doctors_Vacent                9.0
Doctors_Shortfall             3.0
Specialists_Vacent           11.0
Specialists_Shortfall         3.0
Radiographers_Vacent          9.0
Radiographers_Shortfall       3.0
Pharmacists_Vacent            9.0
Pharmacists_Shortfall         3.0
LabTechnicians_Vacent         9.0
LabTechnicians_Shortfall      3.0
NursingStaff_Vacent           9.0
Nursing_Shortfall             3.0
Rural_Population_Density      3.0
Urban_Population_Density      3.0
Tribal_Area                  31.0
Rural_Area                    3.0
Urban_Area                    3.0
Rural_%                       3.0
dtype: float64

In [13]:
# Dropped all the columns which are empty or have no data
df = df.drop(['Note of State/ UT', 'Note of Vacant - [S-P]', 'Note of Shortfall - [R-P]'], axis = 1)

In [14]:
df.head()

,States/UT,Required - [R],Sanctioned - [S],In Position - [P],Vacant - [S-P],Shortfall - [R-P],"Total Number of SNCU (up to January, 2020)",2017-18 - Total Central Allocation,2017-18 - Central Release - NRLM,2017-18 - Central Release - NRLP,...,Total_Population,Total_Population_Density,Rural_Population_%,Tribal_Area,Rural_Area,Urban_Area,Total_Area,Rural_%,Number_of_Districts,Number_of_Villages
0,Andaman & Nicobar Islands,22,42.0,34,8.0,NaN,1,100.00,99.70,0.00,...,399000,48,57.4,1841.00,8211.08,37.92,8249,99.54,3,560
1,Andhra Pradesh,1147,1952.0,1644,308.0,NaN,47,6214.57,9321.86,0.00,...,52599000,323,65.1,14132.00,158856.00,4119.00,162975,97.47,13,17950
2,Arunachal Pradesh,143,NaN,122,NaN,21.0,5,920.00,1496.33,0.00,...,1522000,18,75.0,NaN,NaN,NaN,83743,NaN,20,5545
3,Assam,1014,NaN,1048,NaN,NaN,28,9885.00,9595.10,2122.91,...,34793000,444,84.8,18549.42,77178.12,1259.88,78438,98.39,27,27927
4,Bihar,1899,2078.0,1786,292.0,113.0,43,25343.75,25343.75,6503.20,...,121895000,1295,87.9,NaN,91838.28,2324.72,94163,97.53,38,45413

In [15]:
df.select_dtypes(include='number').nunique()

Required - [R]         33
Sanctioned - [S]       32
In Position - [P]      32
Vacant - [S-P]         26
Shortfall - [R-P]      13
                       ..
Urban_Area             34
Total_Area             35
Rural_%                34
Number_of_Districts    25
Number_of_Villages     35
Length: 72, dtype: int64